<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MiltonTrainingProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MiltonTrainingProject.Properties.Settings.ConnectionString"
            connectionString="Data Source=sql_dev;Initial Catalog=INTERN_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MiltonTrainingProject.Properties.Settings.PersonConnectionString"
            connectionString="Data Source=sql_dev;Initial Catalog=INTERN_TEST;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <MiltonTrainingProject.Properties.Settings>
            <setting name="SQL" serializeAs="String">
                <value>SELECT * FROM MM_Person</value>
            </setting>
        </MiltonTrainingProject.Properties.Settings>
    </applicationSettings>
</configuration>